button.uk-accordion-title {
	color: #000;
	background-color: $color-body;
	border: none;
	border-top: 1px solid rgba(0,0,0,.2);
	cursor: pointer;
	padding: 15px 0;
	width: 100%;
	outline: none;
	font-size: 22px;
	letter-spacing: .9px;
	transition: all .1s;
	text-align: left;
	vertical-align: middle;
}

button.uk-accordion-title.intense {
	border-color: rgba(0,0,0,.4);
}

.uk-accordion .uk-accordion-title:first-of-type{ border: none; }

button.uk-accordion-title:hover { color: #DD2C00; }

button.uk-accordion-title.uk-active { color: #BF360C; }

button.uk-accordion-title:after {
	content: '\f078';
	font-family: FontAwesome;
	font-size: 16px;
	margin-left: auto;
	float: right;
	padding-top: 5px;
	font-weight: bold;
}

button.uk-accordion-title.uk-active:after {
	content: "\f077";
}

div.uk-accordion-content {
	transition: visibility 0s, opacity 0.5s linear;
	padding-left: 10%;
	padding-right: 0;
	.uk-comment {
		margin-bottom: 15px;
		letter-spacing: .8px;
		padding: 5px 0;
	}
	.uk-comment-title {
		color: #0b0080;
	}
	.uk-flex {
		div {
			height: 100%;
		}
	}
}