.simple-blur {
	-webkit-backdrop-filter: blur(10px);
		background-color: transparent;
}

.bg-main {
	background-color: $color-main;
}

.bg-background {
	background-color: $color-background;
}

.bg-top {
	/* http://code2prog.com/ceystalhorizon-flat-design-wallpapers-hd-free-wallpapers-backgrounds-images-fhd-4k-download-2014-2015-2016/ */
	background: #fff url('../img/crystal.jpg') no-repeat center top;
	background-size: cover;
	border: 0;
}

.bg-estado {
	/* http://dakoder.deviantart.com/art/MinFlat-Dark-Material-Design-Wallpaper-4K-509845098 */
	background: #fff url('../img/material.jpg') no-repeat center top;
	background-size: cover;
	border: 0;
}

.bg-universidad {
	/* http://www.optawall.com/profile/1/ */
	background: #fff url('../img/city.jpg') no-repeat center center;
	background-size: cover;
	border: 0;
}

.bg-content {
	background:  linear-gradient(#f8f8f8,#f8f8f8);
}