.simple-blur {
	-webkit-backdrop-filter: blur(10px);
		background-color: transparent;
}

.bg-main {
	background-color: $color-main;
}

.bg-background {
	background-color: $color-background;
}

.bg-inicio {
	background: $color-main url('../img/mountains.jpg') no-repeat center top;
	background-size: cover;
}

.bg-nacion {
	background: $color-main url('../img/deer.jpg') no-repeat center center;
	background-size: cover;
	border: 0;
}

.bg-estado {
	background: $color-main url('../img/white.jpg') no-repeat center top;
	background-size: cover;
	border: 0;
}

.bg-universidad {
	/* http://www.optawall.com/profile/1/ */
	background: $color-main url('../img/bluemountains.jpg') no-repeat center bottom;
	background-size: cover;
	border: 0;
}

.bg-content {
	background:  linear-gradient(#f8f8f8,#f8f8f8);
}