$color-indigo: #1A237E;
$color-navy: #324256;
$color-navy-dark: #2A364D;
$color-cyan: #28D6D5;
$color-blue: #1D62F0;
$color-blue-light: #007AFF;
$color-blue-dark: #151B54;
$color-green: #489F97;
$color-green-light: #93D56D;
$color-yellow: #FFEB3B;
$color-lemon: #D3F634;
$color-gray: #94CAD5;
$color-gray-light: #D3E5E4;
$color-orange: #FF5722;
$color-orange-light: #FF9500;
$color-pink: #FF2A68;
$color-violet: #C644FC;
$color-purple: #5856D6;
$color-dark: #1F1F21;
$color-gray: #4A4A4A;
$color-gray-dark: #2B2B2B;
$color-marron: #463A35;
$color-turquoise: #43C6DB;
$color-white: #F3F3F3;
$color-red: #f44336;
$color-red-dark: #d32f2f;

/* https://designcode.io/iosdesign-guidelines */
$color-background: #EFEFF4;
$color-lines: #CECED2;
$color-link: #007AFF;
$color-safari: #007AFF;
$color-videos: #5AC8FA;
$color-notes: #FFCC00;
$color-ibooks: #FF9500;
$color-news: #FF2D55;
$color-messages: #4CD964;
$color-calendar: #FF3B30;
$color-settings: #8E8E93;

/* Variable colors
------------------ */
$color-main: $color-navy-dark;

$color-background: $color-background;

$color-navbar: $color-navy-dark;

$color-accent: $color-red;
$color-accent-secondary: $color-red-dark;