/* Barra de navegación
---------------------- */
.uk-grid {margin: 0;}

.uk-navbar-nav>li>a {font-family: 'Lato', sans-serif;}

.uk-form-icon {
	width: calc(100% - 80px);
	max-width: 800px;
}

.uk-form-icon:not(.uk-form-icon-flip)>input { padding-left: 15px !important; }

.uk-navbar {
	background: $color-navbar;
}

.uk-navbar-nav > li > a {
	color: #fff;
	height: $navbar-height;
	line-height: $navbar-height;
	-webkit-transition: all .3s; /* Safari */
		transition: all .3s;
}

.uk-navbar-nav > li.uk-active > a {
	color: #fff;
	background-color: rgba(0,0,0,.2);
}

