/* Sizes */
.fn-1em { font-size: 1em; line-height: 1em; }
.fn-2em { font-size: 2em; line-height: 1em; }
.fn-3em { font-size: 3em; line-height: 1em; }
.fn-4em { font-size: 4em; line-height: 1em; }

.fn-12 { font-size: 12px; }
.fn-13 { font-size: 13px; }
.fn-14 { font-size: 14px; }
.fn-15 { font-size: 15px; }
.fn-16 { font-size: 16px; }
.fn-18 { font-size: 18px; }
.fn-24 { font-size: 24px; }
.fn-28 { font-size: 28px; }
.fn-32 { font-size: 32px; }
.fn-36 { font-size: 36px; }
.fn-42 { font-size: 42px; }
.fn-48 { font-size: 48px; }

.lh-12 { line-height: 12px; }
.lh-36 { line-height: 36px; }

/* Colors */
.fn-accent { color: $color-accent; }
.fn-accent-secondary { color: $color-accent-secondary; }

/* Black on a light background. */
.fn-black { color: black; }
.fn-programas { color: #607D8B; }
.fn-dark { color: rgba(0, 0, 0, 0.54); }
.fn-dark.md-inactive { color: rgba(0, 0, 0, 0.26); }

/*White on a dark background. */
.fn-light { color: rgba(255, 255, 255, 1); }
.fn-light.md-inactive { color: rgba(255, 255, 255, 0.3); }

/* Alignment */
.fn-center { text-align: center; }
.fn-right { text-align: right; }
.fn-left { text-align: left; }

/* Weight */
.fn-bold { font-weight: bold; }