.buscador-principal {
	input {
		width: 100%;
		line-height: 40px;
		font-size: 20px;
	}
	button {
		color: white;
		background-color: $color-accent;
		border: none;
		line-height: 46px;
		font-size: 20px;
		padding: 0 20px;
		-webkit-transition: all .1.5s; /* Safari */
		transition: all .1.5s;

		&:hover {
			cursor: pointer;
			background-color: $color-accent-secondary;
		}
	}
}