html {
	-webkit-box-sizing: border-box;
	-moz-box-sizing: border-box;
	box-sizing: border-box;
	background-color: $color-body;
}
*, *:before, *:after {
	-webkit-box-sizing: inherit;
	-moz-box-sizing: inherit;
	box-sizing: inherit;
}
body{
	background-color: $color-body;
	text-rendering: optimizeLegibility;
}
html, body, h1, h2, h3, h4, h5, h6, p, input, button, a {
	font-family: 'Lato', sans-serif;
}
a {
	color: $color-link;
}
a.dark-link {
	color: $color-blue-dark;
}