#main-map {
	padding-top: 20px;
	padding-bottom: 30px;
	h1 { letter-spacing: 1.5px; }
}

#quick-stats {
	background: #fff url('../img/mountains.jpg') no-repeat center top;
	background-size: cover;
	border: 2px solid rgba(0,0,0,1);
	&.uk-grid-divider {
		margin: 0;
		div { padding: 0; border-color: #303F9F; }
	}
	.uk-panel {
		// background:  #3F51B5;
		height: 150px;
		.uk-panel-title {
			color: rgba(255,255,255,.8);
			margin-bottom: 0;
			.resalte {
				color: white;
				font-size: 42px;
				letter-spacing: 2px;
			}
		}
	}
}

#bloque-estado { 
	padding-top: 30px;
	padding-bottom: 30px;
	text-shadow: .2px .2px 1px #000;
	.bloque-espacio { padding: 0 20px; }
	.b-title {
		letter-spacing: 1.2px;
		text-shadow: .5px .5px 2px #000;
	}
	img {
		max-height: 175px;
		max-width: 175px; 
		-ms-filter: "progid:DXImageTransform.Microsoft.Dropshadow(OffX=3, OffY=3, Color='#444')";
		filter: "progid:DXImageTransform.Microsoft.Dropshadow(OffX=3, OffY=3, Color='#444')";
		-webkit-filter: drop-shadow(3px 3px 6px rgba(0,0,0,0.3));
		filter: url(#drop-shadow);
	}
	li {
		margin-bottom: 30px;
		i { margin-right: 20px; }
	}
	li:last-child { margin-bottom: 0; }
	.buscador-principal {
		margin-top: 50px;
		margin-bottom: 20px;
		.uk-form-icon { max-width: 600px; }
	}
}

#bloque-universidad { 
	padding-top: 30px;
	padding-bottom: 30px;
	.bloque-espacio { padding: 0 20px; }
	.uk-grid {margin: 0;}
	.b-title {
		letter-spacing: 1.2px;
		text-shadow: .5px .5px 2px #000;
	}
	li {
		margin-bottom: 30px;
		i { margin-right: 20px; }
	}
	li:last-child { margin-bottom: 0; }
}

#carreras {
	padding: 30px;
	ul {
		columns: 3;
		-webkit-columns: 3;
		-moz-columns: 3;
		li {
			break-inside: avoid-column;
			-webkit-column-break-inside: avoid;
			padding: 10px 0;
		}
	}
	.carrera {
		padding-top: 12px;
		padding-bottom: 12px;
		font-size: 1.1em;
	}
}


/* Media Queries ------------------------------------------------ */

@media (max-width: $small) {
	#main-map h1 { font-size: 28px; }

	#map-mexico { display: none; }

	#bloque-universidad { 
		.b-title {
			margin-bottom: 30px;
			color: #000;
			text-shadow: .5px .5px 2px #fff;
		}
		.uk-list-line {
			color: #000;
		}
	}

	#lista-universidades { .uni { padding: 5px; } }

	#carreras {
		padding: 30px 15px;
		ul {
			columns: 1;
			-webkit-columns: 1;
			-moz-columns: 1;
		}
	}
}

@media (max-width: $medium - 1) {
	#bloque-universidad { 
		.b-title {
			margin-bottom: 10px;
		}
	}
}

@media (min-width: $small + 1) and (max-width: $medium) {
	#carreras {
		ul {
			columns: 2;
			-webkit-columns: 2;
			-moz-columns: 2;
		}
	}
}