#main-map {
	padding-top: 20px;
	padding-bottom: 30px;
	h1 { letter-spacing: 1.5px; }
}

#quick-stats {
	border: 2px solid rgba(0,0,0,1);
	border-left: none;
	border-right: none;
	&.uk-grid-divider {
		margin: 0;
		div { padding: 0; border-color: #303F9F; }
	}
	.uk-panel {
		height: 150px;
		.uk-panel-title {
			color: rgba(255,255,255,.8);
			margin-bottom: 0;
			.resalte {
				color: white;
				font-size: 42px;
				letter-spacing: 2px;
			}
		}
	}
}

#estado-stats {
	@extend #quick-stats;
	border: none;
	background-color: #B0BEC5;
	.uk-panel {
		height: 125px;
		.uk-panel-title {
			color: rgba(0,0,0,1);
			.resalte {
				color: rgba(0,0,0,1);
				font-size: 28px;
				i { padding-bottom: 10px; }
			}
		}
	}
	.estado-section { 
		padding-left: 0;
		text-decoration: none;
		-webkit-transition: background-color .3s; /* Safari */
		transition: background-color .3s;
	}
	a.estado-section:hover { background-color: #8C9EFF; }
}

#uni-stats {
	@extend #quick-stats;
	border: none;
	background-color: $color-navy;
	.uk-panel {
		height: 125px;
		padding: 10px;
		.uk-panel-title {
			color: rgba(255,255,255,.9);
			.resalte {
				font-size: 28px;
				i { padding-bottom: 10px; }
			}
		}
	}
	.uni-section { 
		padding-left: 0;
		text-decoration: none;
		-webkit-transition: background-color .3s; /* Safari */
		transition: background-color .3s;
	}
	a.uni-section:nth-child(1):hover { background-color: #009688; }
	a.uni-section:nth-child(2):hover { background-color: #03A9F4; }
	a.uni-section:nth-child(3):hover { background-color: #3F51B5; }
	a.uni-section:nth-child(4):hover { background-color: #9C27B0; }
	a.uni-section:nth-child(4), a.uni-section:nth-child(4):hover { word-break: break-all; }
}

#bloque-estado {
	min-height: 250px;
	padding-top: 50px;
	padding-bottom: 50px;
	text-shadow: 4px 4px 8px #000;
	.b-title {
		color: #fff;
		font-size: 5em;
		line-height: 1em;
		padding-top: 5px;
	}
	.draw-circle {
		height: 150px;
		width: 150px;
		margin: auto;
		border-radius: 50%;
		background-color: rgba(230,74,25, .8);
		-ms-filter: "progid:DXImageTransform.Microsoft.Dropshadow(OffX=3, OffY=3, Color='#444')";
		filter: "progid:DXImageTransform.Microsoft.Dropshadow(OffX=3, OffY=3, Color='#444')";
		-webkit-filter: drop-shadow(3px 3px 6px rgba(0,0,0,0.3));
		filter: url(#drop-shadow);
		img {
			max-width: 100px;
			max-height: 100px;
			margin: auto;
		}
	}
}

#bloque-universidad { 
	min-height: 250px;
	padding-top: 30px;
	padding-bottom: 30px;
}

#buscador-estado {
	padding: 40px 20px;
	background-color: #ecf0f1;
	form {
		width: 100%;
		max-width: $medium;
		margin: auto;
		&:before { color: #000; font-size: 20px; }
		input {
			color: #000;
			width: 100%;
			&::-webkit-input-placeholder {
				color: rgba(0,0,0,.8);
			}
		}
	}
}

#filtros {
	margin: 20px auto;
	margin-top: 50px;
	padding: 0 30px;
	width: 100%;
	text-align: center;
	.chip{
		display: inline-block;
		font-size: 1em;
		color: rgba(0,0,0,0.8);
		background-color: #ECEFF1;
		margin: 7px 10px;
		padding: 0 20px;
		height: 35px;
		line-height: 35px;
		border-radius: 20px;
		box-shadow: 0px 3px 1px -2px rgba(0, 0, 0, .2),
					0px 2px 2px 0px rgba(0, 0, 0, .2),
					0px 1px 5px 0px rgba(0, 0, 0, .2);
		&:hover {
			cursor: pointer;
			box-shadow: 0px 2px 4px -1px rgba(0, 0, 0, .2),
						0px 4px 5px 0px rgba(0, 0, 0, .2),
						0px 1px 10px 0px rgba(0, 0, 0,.2);
		}
		&.active {
			color: white;
			background-color: #0050ef;
		}
	}
}

#live-search {
	margin-top: 10px;
	margin-bottom: -15px;
	padding: 0 20px;
}

#lista-unis {
	.bloque-unis { margin-top: 50px; h3 {color: black;} }
	.unis {
		li {
			margin-top: 7px;
			padding-top: 7px;
			a:hover span { color: #059 !important; }
		}
	}
}

#carreras {
	padding: 30px;
	ul {
		columns: 3;
		-webkit-columns: 3;
		-moz-columns: 3;
		li {
			break-inside: avoid-column;
			-webkit-column-break-inside: avoid;
			padding: 10px 0;
		}
	}
	.carrera {
		padding-top: 12px;
		padding-bottom: 12px;
		font-size: 1.1em;
	}
}


/* Media Queries ------------------------------------------------ */

@media (max-width: $small) {
	#main-map h1 { font-size: 28px; }

	#map-mexico { display: none; }

	#lista-universidades { .uni { padding: 5px; } }

	#filtros .chip { margin: 10px auto; display: block; }

	#carreras {
		padding: 30px 15px;
		ul {
			columns: 1;
			-webkit-columns: 1;
			-moz-columns: 1;
		}
	}
}

@media (min-width: $small + 1) and (max-width: $medium) {
	#carreras {
		ul {
			columns: 2;
			-webkit-columns: 2;
			-moz-columns: 2;
		}
	}
}

@media (max-width: $medium - 1) {
	#uni-stats {
		.uni-section {
			-moz-box-shadow: none;
			-webkit-box-shadow: none;
			box-shadow: none;
		}
	}
}