<nav class="uk-navbar" id="navbar">
	<ul class="uk-navbar-nav">
		<li id="menu1"><a href="{% url 'unsearch:home' %}">Inicio</a></li>
		<li class="uk-parent" data-uk-dropdown="">
			<a href="">Estados <i class="uk-icon-caret-down"></i></a>
			<div class="uk-dropdown uk-dropdown-navbar">
				<ul class="uk-nav uk-nav-navbar">
					<li><a href="{% url 'unsearch:estado' pk=81 %}">Aguascalientes</a></li>
					<li><a href="{% url 'unsearch:estado' pk=82 %}">Baja California</a></li>
					<li><a href="{% url 'unsearch:estado' pk=83 %}">Baja California Sur</a></li>
					<li><a href="{% url 'unsearch:estado' pk=84 %}">Campeche</a></li>
					<li><a href="{% url 'unsearch:estado' pk=124 %}">CDMX</a></li>
					<li><a href="{% url 'unsearch:estado' pk=87 %}">Chiapas</a></li>
					<li><a href="{% url 'unsearch:estado' pk=88 %}">Chihuahua</a></li>
					<li><a href="{% url 'unsearch:estado' pk=85 %}">Coahuila de Zaragoza</a></li>
					<li><a href="{% url 'unsearch:estado' pk=86 %}">Colima</a></li>
					<li><a href="{% url 'unsearch:estado' pk=93 %}">Durango</a></li>
					<li><a href="{% url 'unsearch:estado' pk=94 %}">Guanajuato</a></li>
					<li><a href="{% url 'unsearch:estado' pk=95 %}">Guerrero</a></li>
					<li><a href="{% url 'unsearch:estado' pk=96 %}">Hidalgo</a></li>
					<li><a href="{% url 'unsearch:estado' pk=99 %}">Jalisco</a></li>
					<li><a href="{% url 'unsearch:estado' pk=100 %}">México</a></li>
					<li><a href="{% url 'unsearch:estado' pk=102 %}">Michoacán</a></li>
					<li><a href="{% url 'unsearch:estado' pk=103 %}">Morelos</a></li>
					<li><a href="{% url 'unsearch:estado' pk=104 %}">Nayarit</a></li>
					<li><a href="{% url 'unsearch:estado' pk=105 %}">Nuevo León</a></li>
					<li><a href="{% url 'unsearch:estado' pk=107 %}">Oaxaca</a></li>
					<li><a href="{% url 'unsearch:estado' pk=126 %}">Puebla</a></li>
					<li><a href="{% url 'unsearch:estado' pk=111 %}">Querétaro</a></li>
					<li><a href="{% url 'unsearch:estado' pk=112 %}">Quintana Roo</a></li>
					<li><a href="{% url 'unsearch:estado' pk=113 %}">San Luis Potosí</a></li>
					<li><a href="{% url 'unsearch:estado' pk=114 %}">Sinaloa</a></li>
					<li><a href="{% url 'unsearch:estado' pk=115 %}">Sonora</a></li>
					<li><a href="{% url 'unsearch:estado' pk=116 %}">Tabasco</a></li>
					<li><a href="{% url 'unsearch:estado' pk=117 %}">Tamaulipas</a></li>
					<li><a href="{% url 'unsearch:estado' pk=118 %}">Tlaxcala</a></li>
					<li><a href="{% url 'unsearch:estado' pk=119 %}">Veracruz</a></li>
					<li><a href="{% url 'unsearch:estado' pk=120 %}">Yucatán</a></li>
					<li><a href="{% url 'unsearch:estado' pk=121 %}">Zacatecas</a></li>
				</ul>
			</div>
		</li>
		<li id="menu3"><a href="">Test aptitudinal</a></li>
	</ul>
	<div class="uk-navbar-flip">
		<ul class="uk-navbar-nav">
			<li id="menu4"><a href="{% url 'unsearch:contacto' %}">Contacto</a></li>
		</ul>
	</div>
</nav>