{% extends "unsearch/parts/base.html" %}
{% load staticfiles %}

{% block nav-global %}
	{% include "unsearch/parts/navbar.html" %}
{% endblock nav-global %}

{% block bodyclass %}bg-content{% endblock bodyclass %}

{% block content %}
<div class="bg-estado">
	<div id="bloque-estado" class="simple-blur mb-10">
		<h2 class="b-title mb-30 fn-center fn-42 fn-light">{{estado}}</h2>
		<div class="uk-grid grid-reset">
			<div class="uk-width-1-2 uk-hidden-small fn-center"><img src="{{MEDIA_URL}}{{estado.imagen.url}}" alt="{{MEDIA_URL}}{{estado.imagen.url}}"></div>
			<div class="uk-width-medium-1-2 uk-width-small-1-1 vertical-flex fn-18 fn-light">
				<ul class="uk-list">
					<li class="uk-list-line"><i class="uk-icon-line-chart"></i> <b>{{estado.universidades.count}}</b> Universidades</li>
					<li class="uk-list-line"><i class="uk-icon-signal"></i> <b>{{carreras}}</b> Programas de estudio</li>
					<li class="uk-list-line"><i class="uk-icon-pie-chart"></i> <b>18</b> Municipios</li>
				</ul>
			</div>
		</div>
		<div class="fn-center">
			<form class="buscador-principal" method="POST">
				{% csrf_token %}
				<div class="uk-form-icon">
					<i class="uk-icon-search"></i>
					<input type="text" autofocus name="busqueda" value="{{busqueda}}" onfocus="this.value = this.value;" placeholder="Buscar carrera en {{estado}}">
				</div>
				<button><i class="uk-icon-paper-plane"></i></button>
			</form>
		</div>
	</div>
</div>

{% regroup universidades by tipo as tipo_list %}

<div class="bloque-contenido" id="lista-universidades">
	<div class="fn-center fn-18 mb-50">
		<a href="{% url 'unsearch:estado' pk=estado.pk %}"><i class="uk-icon-arrow-left"></i> Todas las universidades de {{estado}}</a>
	</div>
	<!-- This is the tabbed navigation containing the toggling elements -->
	<ul class="uk-tab" data-uk-tab="{connect:'#tab-content'}">
		{% for tipo in tipo_list %}
			<li><a href="#">{{tipo.grouper}}</a></li>
		{% endfor %}
	</ul>
	<ul id="tab-content" class="uk-switcher uk-margin">
		{% for tipo in tipo_list %}
		{% regroup tipo.list by nombre as list_universidades %}
		<li>
			<ul>
			{% for universidad in list_universidades %}
				<li class="fn-18 fn-black">{{universidad.grouper|title}}</li>
				<ul>
				{% for resultado in universidad.list %}
					<div>{{resultado.matches}}</div>
				{% endfor %}
				</ul>
			{% endfor %}
			</ul>
		</li>
		{% endfor %}
	</ul>
<!-- {% for tipo in tipo_list %}
	<h3 class="fn-36 lh-36 mb-20 fn-center">{{tipo.grouper}}</h3>
	{% regroup tipo.list by nombre as list_universidades %}
	<div class="mb-50 mt-20">
		<div class="uk-flex uk-flex-middle uk-flex-wrap uk-flex-wrap-space-around">
		{% for universidad in list_universidades %}
			<div class="uk-width-medium-1-2 uk-width-small-1-1 mb-30">
				<article class="uk-comment uk-panel">
					<header class="uk-comment-header">
						<span class="uk-comment-title fn-18 fn-black">{{universidad.grouper|title}}</span>
						{% for resultado in universidad.list %}
							<div class="uk-comment-meta"><b>{{resultado.matches}}</b></div>
						{% endfor %}
					</header>
				</article>
			</div>
		{% endfor %}
		</div>
	</div>
{% endfor %} -->
</div>

{% endblock content %}