{% extends "unsearch/parts/base.html" %}
{% load staticfiles %}
{% load my_tags %}

{% block nav-global %}
	{% include "unsearch/parts/navbar.html" %}
{% endblock nav-global %}

{% block content %}
<div class="bg-estado">
	<div id="bloque-estado" class="simple-blur mb-10">
		<h2 class="b-title mb-30 fn-center fn-42 fn-light">{{estado}}</h2>
		<div class="uk-grid grid-reset">
			<div class="uk-width-1-2 uk-hidden-small fn-center"><img src="{{MEDIA_URL}}{{estado.imagen.url}}" alt="{{MEDIA_URL}}{{estado.imagen.url}}"></div>
			<div class="uk-width-medium-1-2 uk-width-small-1-1 vertical-flex fn-18 fn-light">
				<ul class="uk-list">
					<li class="uk-list-line"><i class="uk-icon-line-chart"></i> <b>{{estado.universidades.count}}</b> Universidades</li>
					<li class="uk-list-line"><i class="uk-icon-signal"></i> <b>{{carreras}}</b> Programas de estudio</li>
					<li class="uk-list-line"><i class="uk-icon-pie-chart"></i> <b>18</b> Municipios</li>
				</ul>
			</div>
		</div>
		<div class="fn-center">
			<form class="buscador-principal" method="POST">
				{% csrf_token %}
				<div class="uk-form-icon">
					<input type="text" autofocus name="busqueda" value="{{busqueda}}" onfocus="this.value = this.value;" placeholder="Buscar carrera en {{estado}}">
				</div>
				<button><i class="uk-icon-paper-plane"></i></button>
			</form>
		</div>
	</div>
</div>

{% regroup universidades by tipo as tipo_list %}

<div class="bloque-contenido" id="lista-universidades">
	<div class="fn-center fn-18 mb-50">
		<a href="{% url 'unsearch:estado' pk=estado.pk %}"><i class="uk-icon-arrow-left"></i> Todas las universidades de {{estado}}</a>
	</div>
	
	<!-- Accordion -->
	<div class="uk-accordion tarjetas" data-uk-accordion="{collapse: false}">
		{% for tipo in tipo_list %}
		<button class="uk-accordion-title intense">
			<span class="pr-5">{{tipo.grouper}}</span>
			<span class="uk-text-small uk-hidden-small">Coincidencias: <b>{{tipo.list|length}}</b></span>
		</button>
		<div class="uk-accordion-content">
			{% regroup tipo.list by nombre as list_universidades %}
			<div class="uk-grid uk-grid-margin ">
				{% for universidad in list_universidades|ordenar_matches %}
				<div class="uk-width-medium-1-2">
					<article class="uk-comment tarjeta shadow-2">
						<a class="uk-comment-header" href="{% url 'unsearch:universidad' pk=universidad.list.0.pk %}">
							<h4 class="uk-comment-title uk-margin-bottom">{{universidad.grouper|title}}</h4>
						</a>
						<div class="uk-comment-body">
							{% for resultado in universidad.list %}
								<p>{{resultado.matches}}</p>
							{% endfor %}
						</div>
					</article>
				</div>
				{% endfor %}
			</div>
		</div>
		{% endfor %}
	</div>
</div>

{% endblock content %}