{% extends "unsearch/parts/base.html" %}
{% load staticfiles %}

{% block nav-global %}
	{% include "unsearch/parts/navbar.html" %}
{% endblock nav-global %}

{% block content %}
<div class="bg-estado">
	<div id="bloque-estado" class="simple-blur vertical-flex">
		<div class="fn-center">
			<div class="draw-circle vertical-flex">
				<img src="{{MEDIA_URL}}{{estado.imagen.url}}" alt="{{MEDIA_URL}}{{estado.imagen.url}}" class="estado-img">
			</div>
			<h1 class="b-title uk-margin-remove">{{estado}}</h1>
		</div>
	</div>
</div>
<div class="uk-grid" id="estado-stats" data-uk-grid-match>
	<div class="uk-width-medium-1-3 estado-section">
		<div class="uk-panel uk-text-center vertical-flex">
			<div class="uk-panel-title"><span class="resalte"><i class="uk-icon-map-signs"></i></span><br>{{estado.municipios}} Municipios</div>
		</div>
	</div>
	<div class="uk-width-medium-1-3 estado-section">
		<div class="uk-panel uk-text-center vertical-flex">
			<div class="uk-panel-title"><span class="resalte"><i class="uk-icon-university"></i></span><br>{{estado.universidades.count}} Universidades</div>
		</div>
	</div>
	<div class="uk-width-medium-1-3 estado-section">
		<div class="uk-panel uk-text-center vertical-flex">
			<div class="uk-panel-title"><span class="resalte"><i class="uk-icon-list"></i></span><br>{{carreras}} Programas de estudio</div>
		</div>
	</div>
</div>
<div id="buscador-estado">
	<form class="uk-form" method="POST" action="{% url 'unsearch:estado_buscar' pk=estado.pk %}">
		{% csrf_token %}
		<div class="uk-form-row">
			<input class="uk-form-large" name="busqueda" placeholder="Buscar carrera en {{estado}}" autofocus>
		</div>
	</form>
</div>

{% regroup universidades by tipo as tipo_list %}

<div class="bloque-contenido" id="lista-universidades">
	<div class="uk-accordion" data-uk-accordion="{collapse: false}">
	{% for tipo in tipo_list %}
		<button class="uk-accordion-title">
			<span class="pr-5">{{tipo.grouper}}</span>
			<span class="uk-text-small uk-hidden-small">Instituciones: <b>{{tipo.list|length}}</b></span>
		</button>
		<div class="uk-accordion-content">
			<div class="uk-grid uk-grid-margin">
			{% for universidad in tipo.list %}
				<article class="uk-width-1-1 uk-comment">
					<a class="uk-comment-header" href="{% url 'unsearch:universidad' pk=universidad.pk %}">
						<h4 class="uk-comment-title">{{universidad|title}}</h4>
						<div class="uk-comment-meta">Programas: <b>{{universidad.carreras.count}}</b></div>
					</a>
				</article>
			{% endfor %}
			</div>
		</div>
	{% endfor %}
	</div>
</div>

{% endblock content %}