{% extends "unsearch/parts/base.html" %}
{% load staticfiles %}

{% block nav-global %}
	{% include "unsearch/parts/navbar.html" %}
{% endblock nav-global %}

{# {% block bodyclass %}bg-content{% endblock bodyclass %} #}

{% block content %}
<div class="bg-estado">
	<div id="bloque-estado" class="simple-blur mb-10">
		<h2 class="b-title mb-30 fn-center fn-42 fn-light">{{estado}}</h2>
		<div class="uk-grid grid-reset">
			<div class="uk-width-1-2 uk-hidden-small fn-center"><img src="{{MEDIA_URL}}{{estado.imagen.url}}" alt="{{MEDIA_URL}}{{estado.imagen.url}}"></div>
			<div class="uk-width-medium-1-2 uk-width-small-1-1 vertical-flex fn-18 fn-light">
				<ul class="uk-list">
					<li class="uk-list-line"><i class="uk-icon-line-chart"></i> <b>{{estado.universidades.count}}</b> Universidades</li>
					<li class="uk-list-line"><i class="uk-icon-signal"></i> <b>{{carreras}}</b> Programas de estudio</li>
					<li class="uk-list-line"><i class="uk-icon-pie-chart"></i> <b>18</b> Municipios</li>
				</ul>
			</div>
		</div>
		<div class="fn-center">
			<form class="buscador-principal" method="POST" action="{% url 'unsearch:estado_buscar' pk=estado.pk %}">
				{% csrf_token %}
				<div class="uk-form-icon">
					<input type="text" name="busqueda" placeholder="Buscar carrera en {{estado}}" autofocus>
				</div>
				<button><i class="uk-icon-paper-plane"></i></button>
			</form>
		</div>
	</div>
</div>

{% regroup universidades by tipo as tipo_list %}

<div class="bloque-contenido" id="lista-universidades">
	<div class="uk-accordion" data-uk-accordion="{collapse: false}">
	{% for tipo in tipo_list %}
		<button class="uk-accordion-title">
			<span class="pr-5">{{tipo.grouper}}</span>
			<span class="uk-text-small uk-hidden-small">Instituciones: <b>{{tipo.list|length}}</b></span>
		</button>
		<div class="uk-accordion-content">
			<div class="uk-grid uk-grid-margin">
			{% for universidad in tipo.list %}
				<article class="uk-width-1-1 uk-comment">
					<a class="uk-comment-header" href="{% url 'unsearch:universidad' pk=universidad.pk %}">
						<h4 class="uk-comment-title">{{universidad|title}}</h4>
						<div class="uk-comment-meta">Programas: <b>{{universidad.carreras.count}}</b></div>
					</a>
				</article>
			{% endfor %}
			</div>
		</div>
	{% endfor %}
	</div>
</div>

{% endblock content %}