{% extends "unsearch/parts/base.html" %}
{% load staticfiles %}
{% load humanize %}

{% block nav-global %}
	{% include "unsearch/parts/navbar.html" %}
{% endblock nav-global %}

{% block extrastyle %}
	<link rel="stylesheet" type="text/css" href="{% static "cssmap-mexico/cssmap-mexico.css" %}" />
{% endblock %}

{% block extrahead %}
	<script type="text/javascript">
		$(function(){ $('#menu1').addClass('uk-active'); });
	</script>
	<script type="text/javascript" src="http://cssmapsplugin.com/4/jquery.cssmap.js"></script>
	<script type="text/javascript">
	$(document).ready(function () {
		updateMap();
		$(window).resize(function() {
			updateMap();
		});
	});
	function updateMap() {
		/* Tamaños disponibles: 430, 540, 650, 750, 850, 960, 1280 and 1450 */
		var $containerSize = $(window).width();
		if ($containerSize > 2400) {
			$('#map-mexico').cssMap({'size' : 1450});
		}
		else if ($containerSize > 1900) {
			$('#map-mexico').cssMap({'size' : 1280});
		}
		else if ($containerSize > 1600) {
			$('#map-mexico').cssMap({'size' : 750});
		}
		else if ($containerSize > 1280) {
			$('#map-mexico').cssMap({'size' : 650});
		}
		else if ($containerSize >960) {
			$('#map-mexico').cssMap({'size' : 750});
		}
		else if ($containerSize >850) {
			$('#map-mexico').cssMap({'size' : 650});
		}
		else if ($containerSize >650) {
			$('#map-mexico').cssMap({'size' : 650});
		}
		else{
			$('#map-mexico').cssMap({'size' : 430});
		}
	}
	</script>
{% endblock extrahead %}

{% block content %}
<div class="bg-main fn-center" id="main-map">
	<h1 class="fn-light fn-48">Universidd</h1>
	<p class="fn-18 fn-light">Encuentra universidad y carrera</p>
	<form class="buscador-principal" action="{% url 'unsearch:buscador_nacional' %}" method="post">
		{% csrf_token %}
		<div class="uk-form-icon">
			<input class="input-principal" type="text" name="busqueda" placeholder="Buscar carrera" autofocus>
		</div>
		<button><i class="uk-icon-paper-plane"></i></button>
	</form>
	<div id="map-mexico">
		<ul class="mexico">
			<li class="mx1"><a href="{% url 'unsearch:estado' pk=81 %}">Aguascalientes</a></li>
			<li class="mx2"><a href="{% url 'unsearch:estado' pk=82 %}">Baja California</a></li>
			<li class="mx3"><a href="{% url 'unsearch:estado' pk=83 %}">Baja California Sur</a></li>
			<li class="mx4"><a href="{% url 'unsearch:estado' pk=84 %}">Campeche</a></li>
			<li class="mx9"><a href="{% url 'unsearch:estado' pk=124 %}">CDMX</a></li>
			<li class="mx5"><a href="{% url 'unsearch:estado' pk=87 %}">Chiapas</a></li>
			<li class="mx6"><a href="{% url 'unsearch:estado' pk=88 %}">Chihuahua</a></li>
			<li class="mx7"><a href="{% url 'unsearch:estado' pk=85 %}">Coahuila de Zaragoza</a></li>
			<li class="mx8"><a href="{% url 'unsearch:estado' pk=86 %}">Colima</a></li>
			<li class="mx10"><a href="{% url 'unsearch:estado' pk=93 %}">Durango</a></li>
			<li class="mx11"><a href="{% url 'unsearch:estado' pk=94 %}">Guanajuato</a></li>
			<li class="mx12"><a href="{% url 'unsearch:estado' pk=95 %}">Guerrero</a></li>
			<li class="mx13"><a href="{% url 'unsearch:estado' pk=96 %}">Hidalgo</a></li>
			<li class="mx14"><a href="{% url 'unsearch:estado' pk=99 %}">Jalisco</a></li>
			<li class="mx15"><a href="{% url 'unsearch:estado' pk=100 %}">México</a></li>
			<li class="mx16"><a href="{% url 'unsearch:estado' pk=102 %}">Michoacán</a></li>
			<li class="mx17"><a href="{% url 'unsearch:estado' pk=103 %}">Morelos</a></li>
			<li class="mx18"><a href="{% url 'unsearch:estado' pk=104 %}">Nayarit</a></li>
			<li class="mx19"><a href="{% url 'unsearch:estado' pk=105 %}">Nuevo León</a></li>
			<li class="mx20"><a href="{% url 'unsearch:estado' pk=107 %}">Oaxaca</a></li>
			<li class="mx21"><a href="{% url 'unsearch:estado' pk=126 %}">Puebla</a></li>
			<li class="mx22"><a href="{% url 'unsearch:estado' pk=111 %}">Querétaro</a></li>
			<li class="mx23"><a href="{% url 'unsearch:estado' pk=112 %}">Quintana Roo</a></li>
			<li class="mx24"><a href="{% url 'unsearch:estado' pk=113 %}">San Luis Potosí</a></li>
			<li class="mx25"><a href="{% url 'unsearch:estado' pk=114 %}">Sinaloa</a></li>
			<li class="mx26"><a href="{% url 'unsearch:estado' pk=115 %}">Sonora</a></li>
			<li class="mx27"><a href="{% url 'unsearch:estado' pk=116 %}">Tabasco</a></li>
			<li class="mx28"><a href="{% url 'unsearch:estado' pk=117 %}">Tamaulipas</a></li>
			<li class="mx29"><a href="{% url 'unsearch:estado' pk=118 %}">Tlaxcala</a></li>
			<li class="mx30"><a href="{% url 'unsearch:estado' pk=119 %}">Veracruz</a></li>
			<li class="mx31"><a href="{% url 'unsearch:estado' pk=120 %}">Yucatán</a></li>
			<li class="mx32"><a href="{% url 'unsearch:estado' pk=121 %}">Zacatecas</a></li>
		</ul>
	</div>
</div>

<div class="uk-grid bg-inicio" id="quick-stats" data-uk-grid-match>
	<div class="uk-width-medium-1-3">
		<div class="uk-panel uk-text-center vertical-flex">
			<div class="uk-panel-title"><span class="resalte">{{universidades|intcomma}}</span class="resalte"><br>Universidades</div>
		</div>
	</div>
	<div class="uk-width-medium-1-3">
		<div class="uk-panel uk-text-center vertical-flex">
			<div class="uk-panel-title"><span class="resalte">{{carreras|intcomma}}</span class="resalte"><br>Programas de estudio</div>
		</div>
	</div>
	<div class="uk-width-medium-1-3">
		<div class="uk-panel uk-text-center vertical-flex">
			<div class="uk-panel-title"><span class="resalte">24,800</span class="resalte"><br>Visitas</div>
		</div>
	</div>
</div>

<div class="uk-block-large bg-background">
	<div class="uk-container uk-container-center">
		<div class="uk-grid uk-grid-match grid-reset" data-uk-grid-margin="">
			<div class="uk-width-medium-1-3 uk-row-first tarjeta-rounded">
				<div class="uk-panel shadow-2">
					<div class="fn-black uk-text-center"><i class="uk-icon-large uk-icon-list-ol"></i></div>
					<h3 class="fn-black uk-text-center fn-2em">Directorio</h3>
					<p class="uk-text-justify fn-18">Descubre las carreras que ofrece la universidad de tu elección</p>
				</div>
			</div>
			<div class="uk-width-medium-1-3 tarjeta-rounded">
				<div class="uk-panel shadow-2">
					<div class="fn-black uk-text-center"><i class="uk-icon-large uk-icon-search-plus"></i></div>
					<h3 class="fn-black uk-text-center fn-2em">Buscador</h3>
					<p class="uk-text-justify fn-18">Busca que universidades ofrecen la carrera que deseas estudiar</p>
				</div>
			</div>
			<div class="uk-width-medium-1-3 tarjeta-rounded">
				<div class="uk-panel shadow-2">
					<div class="fn-black uk-text-center"><i class="uk-icon-large uk-icon-check-square"></i></div>
					<h3 class="fn-black uk-text-center fn-2em">Test</h3>
					<p class="uk-text-justify fn-18">Encuentra cuales son tus habilidades y que carreras te recomendamos</p>
				</div>
			</div>
		</div>
	</div>
</div>
{% endblock content %}

{% block heavyjs %}
<script type="text/javascript">
$(document).ready(function() {
	$('.buscador-principal').submit(function(e) {
		var input = $(this).find('.input-principal');
		if (input.val().length != 0 && input.val().length < 3) {
			e.preventDefault();
			input.addClass('uk-form-danger');
			UIkit.notify('La busqueda nacional debe contener más de 2 caracteres', {status:'danger'});
		}
	});
});
</script>
{% endblock heavyjs %}