{% extends "unsearch/parts/base.html" %}
{% load staticfiles %}
{% load humanize %}

{% block nav-global %}
	{% include "unsearch/parts/navbar.html" %}
{% endblock nav-global %}

{% block content %}
<div class="bg-universidad">
	<div id="bloque-universidad" class="simple-blur vertical-flex">
		<h1 class="b-title fn-light fn-center fn-28 uk-margin-bottom-remove">{{universidad}}</h1>
	</div>
</div>
<div class="uk-grid" id="uni-stats" data-uk-grid-match>
	<a class="uk-width-medium-1-4 uni-section" href="{% url 'unsearch:estado' pk=universidad.estado.pk %}">
		<div class="uk-panel uk-text-center vertical-flex">
			<div class="uk-panel-title"><span class="resalte"><i class="uk-icon-map"></i></span><br>{{universidad.estado}}</div>
		</div>
	</a>
	<div class="uk-width-medium-1-4 uni-section">
		<div class="uk-panel uk-text-center vertical-flex">
			<div class="uk-panel-title"><span class="resalte"><i class="uk-icon-group"></i></span><br>{{universidad.tipo}}</div>
		</div>
	</div>
	<div class="uk-width-medium-1-4 uni-section">
		<div class="uk-panel uk-text-center vertical-flex">
			<div class="uk-panel-title"><span class="resalte"><i class="uk-icon-list"></i></span><br>{{carreras.count}} Programas de estudio</div>
		</div>
	</div>
	<a class="uk-width-medium-1-4 uni-section" href="{{universidad.sitio_web|default:''}}" target="_blank">
		<div class="uk-panel uk-text-center vertical-flex">
			<div class="uk-panel-title"><span class="resalte"><i class="uk-icon-link"></i></span><br>{{universidad.sitio_web|default:"Ninguno"}}</div>
		</div>
	</a>
</div>

{% regroup carreras by grado as nivel_estudios %}

<div id="carreras">
{% for nivel in nivel_estudios %}
	<div class="mb-50 mt-20 fn-black">
		<h3 class="fn-36 lh-36 mb-20 fn-center fn-black">{{nivel.grouper}} <span class="pl-10 fn-14 uk-text-middle uk-text-primary">Programas: {{nivel.list|length}}</span></h3>
		<div class="uk-grid uk-grid-margin">
		{% for carrera in nivel.list|dictsort:"nombre" %}
			<div class="uk-width-large-1-3 uk-width-medium-1-2 carrera"><p>{{carrera|capfirst}}</p></div>
		{% endfor %}
		</div>
	</div>
{% endfor %}
</div>

{% endblock content %}